In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy import stats
matplotlib.style.use('ggplot')
%matplotlib inline

from pandas.plotting import scatter_matrix

import seaborn as sns

import math
from sklearn import preprocessing

In [2]:
import os
os.chdir("C:\\Users\\Админ\\bank")

In [112]:
df = pd.read_csv('bank-full.csv', sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [113]:
# Имена переменных
columns = ['age', 'job', 'marital', 'education', 'default',
           'balance', 'housing', 'loan', 'contact', 'day',
           'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome']
# Преобразуем категориальные переменные
job = {'admin.':0, 'blue-collar':1, 'entrepreneur':2, 'housemaid':3, 'management':4, 'retired':5, 'self-employed':6,
           'services':7, 'student':8, 'technician':9, 'unemployed':10, 'unknown':11}
df['job'] = df['job'].map(job)

df['marital'] = df['marital'].map({'divorced':0, 'married':1, 'single':2, 'unknown':3})

df['education'] = df['education'].map({'primary':0, 'secondary':1, 'tertiary':2, 'unknown':3})

df['default'] = df['default'].map({'no':0, 'yes':1, 'unknown':2})

df['housing'] = df['housing'].map({'no':0, 'yes':1, 'unknown':2})

df['loan'] = df['loan'].map({'no':0, 'yes':1, 'unknown':2})

df['contact'] = df['contact'].map( {'cellular':0, 'telephone':1, 'unknown':2})

df['month'] = df['month'].map({'jan':0, 'feb':1, 'mar':2, 'apr':3, 'may':4, 'jun':5, 'jul':6, 'aug':7, 'sep':8, 'oct':9, 'nov':10, 'dec':11})

df['poutcome'] = df['poutcome'].map({'failure':0, 'nonexistent':1, 'success':2, 'other':3, 'unknown':4})
# Кодируем отклик значениями 0 и 1
df['y'] = df['y'].map({'no': 0, 'yes': 1})

In [114]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,4,261,1,-1,0,4,0
1,44,9,2,1,0,29,1,0,2,5,4,151,1,-1,0,4,0
2,33,2,1,1,0,2,1,1,2,5,4,76,1,-1,0,4,0
3,47,1,1,3,0,1506,1,0,2,5,4,92,1,-1,0,4,0
4,33,11,2,3,0,1,0,0,2,5,4,198,1,-1,0,4,0

In [115]:
df.describe()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,4.339762,1.167725,1.224813,0.018027,1362.272058,0.555838,0.160226,0.640242,15.806419,5.144655,258.163080,2.763841,40.197828,0.580323,3.458849,0.116985
std,10.618762,3.272657,0.608230,0.747997,0.133049,3044.765829,0.496878,0.366820,0.897951,8.322476,2.408034,257.527812,3.098021,100.128746,2.303441,1.271227,0.321406
min,18.000000,0.000000,0.000000,0.000000,0.000000,-8019.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,-1.000000,0.000000,0.000000,0.000000
25%,33.000000,1.000000,1.000000,1.000000,0.000000,72.000000,0.000000,0.000000,0.000000,8.000000,4.000000,103.000000,1.000000,-1.000000,0.000000,4.000000,0.000000
50%,39.000000,4.000000,1.000000,1.000000,0.000000,448.000000,1.000000,0.000000,0.000000,16.000000,5.000000,180.000000,2.000000,-1.000000,0.000000,4.000000,0.000000
75%,48.000000,7.000000,2.000000,2.000000,0.000000,1428.000000,1.000000,0.000000,2.000000,21.000000,7.000000,319.000000,3.000000,-1.000000,0.000000,4.000000,0.000000
max,95.000000,11.000000,2.000000,3.000000,1.000000,102127.000000,1.000000,1.000000,2.000000,31.000000,11.000000,4918.000000,63.000000,871.000000,275.000000,4.000000,1.000000

In [116]:
y = df['y']
X = df.drop(columns=['y'])

In [117]:
X.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,4,261,1,-1,0,4
1,44,9,2,1,0,29,1,0,2,5,4,151,1,-1,0,4
2,33,2,1,1,0,2,1,1,2,5,4,76,1,-1,0,4
3,47,1,1,3,0,1506,1,0,2,5,4,92,1,-1,0,4
4,33,11,2,3,0,1,0,0,2,5,4,198,1,-1,0,4

In [118]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [119]:
from xgboost import XGBClassifier

# from sklearn.metrics import classification_report

from sklearn import metrics

In [120]:
# Инициализируем модель
model = XGBClassifier(base_score=0.5,
                      n_estimators=100,
                      max_depth=6,
                      seed=13,
                      objective='binary:logistic',
                      colsample_bylevel=1,
                      colsample_bytree=0.8,
                      subsample=0.66,
                      gamma=0.001,
                      learning_rate=0.01,
                      max_delta_step=0,
                      min_child_weight=1,
                      nthread=-1,
                      reg_alpha=0,
                      reg_lambda=1,
                      eval_metric='logloss')

In [122]:
# Определим тестируемые значения гиперпараметров
params_set = {
    'n_estimators': [250, 500],
    'max_depth': [3],
    'learning_rate': [0.01, 0.1],
    'reg_lambda': [0.01, 0.1],
    'reg_alpha': [0.01, 0.1],
}

In [123]:
from sklearn.model_selection import GridSearchCV
# Проведем 5-fold кросс-валидацию
grid_CV = GridSearchCV(estimator=model,
                       param_grid=params_set,
                       scoring='balanced_accuracy', 
                       cv=5,
                       n_jobs=-1,
                       error_score='raise',
                       pre_dispatch='2*n_jobs',
                       refit=True)

# Обучим на тренировочной выборке
grid_CV.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=0.8,
                                     eval_metric='logloss', gamma=0.001,
                                     learning_rate=0.01, max_delta_step=0,
                                     max_depth=6, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=-1, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=13, silent=None,
                                     subsample=0.66, verbosity=1),
             iid='deprecated', n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.1], 'max_depth': [3],
                         'n_estimators': [250, 500], 'reg_alpha': [0.01, 0.1],
                         'reg_lambda': [0.01, 0.1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='balanced_accuracy', verbose=0)

In [124]:
# Выберем лучшую модель
best_model = grid_CV.best_estimator_

In [125]:
# Строим предсказания модели
y_pred_train = best_model.predict(X_train)
y_pred_test = best_model.predict(X_test)

print(metrics.classification_report(y_pred_test, y_test))

              precision    recall  f1-score   support

           0       0.97      0.93      0.95     12452
           1       0.45      0.65      0.53      1112

    accuracy                           0.91     13564
   macro avg       0.71      0.79      0.74     13564
weighted avg       0.93      0.91      0.91     13564

In [126]:
# Оценим качество классификации первой модели
metrics.balanced_accuracy_score(y_test, y_pred_test)

0.7103205640846812

In [127]:
from sklearn.metrics import accuracy_score

print("Accuracy on train set is ", accuracy_score(y_train,y_pred_train))
print("Accuracy on test set is ", accuracy_score(y_test, y_pred_test))

Accuracy on train set is  0.9268493064113502
Accuracy on test set is  0.9069595989383663

In [128]:
# Посмотрим на значимость признаков
pd.DataFrame({'features': X.columns, 'importance': best_model.feature_importances_}).sort_values('importance',
                                                                                                   ascending=False)

     features  importance
15   poutcome    0.210141
6     housing    0.130730
11   duration    0.124307
8     contact    0.103170
7        loan    0.076993
10      month    0.054333
13      pdays    0.053282
0         age    0.035601
9         day    0.033798
3   education    0.032103
14   previous    0.029220
2     marital    0.028766
12   campaign    0.027221
5     balance    0.023013
1         job    0.019350
4     default    0.017971

In [129]:
from sklearn.decomposition import PCA
# Зададим число главных компонент с запасом: по числу переменных
pca = PCA(n_components=16)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=16, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [130]:
# Посмотрим на собственные числа, чтобы по критерию Jolliffe определить число главных компонент
eig_val = pca.explained_variance_ratio_ * X.shape[1]
eig_val
len(eig_val[eig_val > 0.8])

1

In [131]:
# Зададим верное число главных компонент
pca = PCA(n_components=1)
pca.fit(X)
factors = pca.transform(X)

In [132]:
# Объединим переменные с факторами
X_fact = pd.concat([X,
                     pd.DataFrame(factors, columns=['F' + str(i) for i in range(1, 2)])],
                     sort=False, axis=1)

In [133]:
# Разделим новые данные на тренировочную и тестовую выборку
X_train, X_test, y_train, y_test = train_test_split(X_fact, label, test_size=0.33, random_state=42)

In [134]:
# Инициализируем модель
model_pca = XGBClassifier(base_score=0.5,
                       n_estimators=100,
                       max_depth=6,
                       seed=13,
                       objective='binary:logistic',
                       colsample_bylevel=1,
                       colsample_bytree=0.8,
                       subsample=0.66,
                       gamma=0.001,
                       learning_rate=0.01,
                       max_delta_step=0,
                       min_child_weight=1,
                       nthread=-1,
                       reg_alpha=0,
                       reg_lambda=1,
                       eval_metric='logloss')

In [135]:
# Определим тестируемые значения гиперпараметров
params_set = {
    'n_estimators': [250, 500],
    'max_depth': [3],
    'learning_rate': [0.01, 0.1],
    'reg_lambda': [0.01, 0.1],
    'reg_alpha': [0.01, 0.1],
}

In [136]:
# Проведем 5-fold кросс-валидацию
grid_CV2 = GridSearchCV(estimator=model_pca,
                        param_grid=params_set,
                        scoring='balanced_accuracy',
                        cv=5,
                        n_jobs=-1,
                        error_score='raise',
                        pre_dispatch='2*n_jobs',
                        refit=True)

# Обучим на тренировочной выборке
grid_CV2.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=0.8,
                                     eval_metric='logloss', gamma=0.001,
                                     learning_rate=0.01, max_delta_step=0,
                                     max_depth=6, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=-1, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=13, silent=None,
                                     subsample=0.66, verbosity=1),
             iid='deprecated', n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.1], 'max_depth': [3],
                         'n_estimators': [250, 500], 'reg_alpha': [0.01, 0.1],
                         'reg_lambda': [0.01, 0.1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='balanced_accuracy', verbose=0)

In [137]:
# Выберем лучшую модель
best_model_pca = grid_CV2.best_estimator_

In [138]:
# Строим предсказания модели
y_pred_train = best_model_pca.predict(X_train)
y_pred_test = best_model_pca.predict(X_test)

print(metrics.classification_report(y_pred_test, y_test))

              precision    recall  f1-score   support

           0       0.97      0.93      0.95     13695
           1       0.46      0.65      0.54      1225

    accuracy                           0.91     14920
   macro avg       0.71      0.79      0.74     14920
weighted avg       0.93      0.91      0.91     14920

In [139]:
# Оценим качество классификации первой модели
metrics.balanced_accuracy_score(y_test, y_pred_test)

0.712123877927176

In [140]:
from sklearn.metrics import accuracy_score

print("Accuracy on train set is ", accuracy_score(y_train,y_pred_train))
print("Accuracy on test set is ", accuracy_score(y_test, y_pred_test))

Accuracy on train set is  0.926743917335182
Accuracy on test set is  0.9077747989276139

In [141]:
# Посмотрим на значимость признаков
pd.DataFrame({'features': X.columns, 'importance': best_model.feature_importances_}).sort_values('importance',
                                                                                                   ascending=False)

     features  importance
15   poutcome    0.210141
6     housing    0.130730
11   duration    0.124307
8     contact    0.103170
7        loan    0.076993
10      month    0.054333
13      pdays    0.053282
0         age    0.035601
9         day    0.033798
3   education    0.032103
14   previous    0.029220
2     marital    0.028766
12   campaign    0.027221
5     balance    0.023013
1         job    0.019350
4     default    0.017971

Добавление факторов особо не улучшило ситуацию(примерно на 0.002). Фичи по своей значимости остались на своих местах.